* {
    border: 1px solid red !important; 
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #606050;
}

@media only screen and (max-width: 500px) and (orientation: landscape) {
  p {
    display:none;
}
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    
}

img { 
    display: inline-block;
}

.logo {
    padding-left: 20px;
}
h1 {
    font-weight: 100;
    font-size: 70px;
    margin-bottom: 10px;
}

h2 {
    font-size: 36px;
    color: #BCBBBB;
    font-weight: 400;
}

h3 {
    font-size: 40px;
    text-align: center;
}

p {
    font-size: 16px;
}
.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    
}

.row1 {

    border-bottom: 2px solid #BCBBBB;
}

.row .DJid {
    text-align: right;
}

#ninja {

    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-4 p {

    text-align: center;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
